@import url(reset.css);

#home {
    width: 100%;
    height: 800px;
    background-image: url(/images/img1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    font-family: 'Russo One', sans-serif;
    box-shadow: 0 0 50px black;
}

.navBox {
    display: flex;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    justify-content: center;
    z-index: 50000000;
}

.navMenu {

    display: flex;
    width: 50%;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.432);
}

a {
    text-align: center;
    width: 25%;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-top: 20px;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.mainTextBox {
    position: absolute;
    top: 100px;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainText {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.432);
    border-radius: 100px;
}

.myName {
    margin-top: 200px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.myProfession {
    top: 300px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 830px;
    font-family: 'Russo One', sans-serif;
    box-shadow: 0 0 30px rgba(71, 71, 71, 0.432);
    background-color: rgba(204, 204, 204, 0.432);
}

.information {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 20px black;
    border-radius: 50px;
}

.name {
    margin-top: 20px;
    width: 50%;
    height: 100px;
    text-align: center;
    font-size: 60px;
    text-shadow: 0px 0px 0px 10px black;
    font-weight: bold;
}

.myPhoto {
    margin-top: 30px;
    width: 30%;
    border: 1px solid black;
    border-radius: 25%;
    box-shadow: 0 0 10px black;
}

.whoIam {
    margin-top: 30px;
    width: 70%;
    min-height: 300px;
    display: flex;
}

.leftBox {
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;

}

.sayHello {
    text-align: right;
    font-size: 25px;
}

.rightBox {
    width: 50%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.socialBox {
    width: 100%;
    height: 50px;
    display: flex;
}

.socialBox a {
    font-size: 22px;
    color: black;
}

.socialImg {
    width: 45px;
    height: 45px;
}

.hardSkillsBox {
    margin-top: 50px;
    width: 70%;
    min-height: 300px;
}

.hardSkills {
    text-align: center;
    font-size: 50px;
}

.skillsListBox {
    margin-top: 30px;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
}

.leftSkillsBox {
    width: 30%;
    min-height: 200px;
}

.rightSkillsBox {
    width: 30%;
    min-height: 200px;
}

.Skills {
    display: flex;
    width: 100%;
    height: 64px;
}

.Skills p {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 30px;
}

.softSkillsBox {
    margin-top: 50px;
    width: 70%;
    min-height: 200px;
}

.softSkills {
    font-size: 50px;
    text-align: center;
}

.container {
    margin-top: 50px;
    width: 70%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}

.educationBox {
    width: 40%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.education {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.edText1 {
    font-size: 20px;
}

.edText2 {
    font-size: 15px;
}

.languagesBox {
    width: 40%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.languages {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.portfolioBlock {
    min-height: 830px;
    font-family: 'Russo One', sans-serif;
}

.myWorks {
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
}

.myWorksContainer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box {
    margin-top: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.box1 {
    width: 46%;
    border: 1px solid gray;
    transition: 0.5s;
    border-radius: 5px;
    position: relative;
}

.box1 img {
    max-width: 100%;
    border-radius: 5px;
    z-index: 0;
}

.box1:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 2px 0px 17px 0px rgba(0, 0, 0, 1);
}

.box1 a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.box2 {
    width: 35%;
    display: flex;
    align-items: center;
}

.aboutWork {
    font-size: 30px;
}

footer {
    margin-top: 100px;
    min-height: 200px;
    background-color: rgba(204, 204, 204, 0.432);
    box-shadow: 0 0 30px rgba(71, 71, 71, 0.432);
    font-family: 'Russo One', sans-serif;
}

.contactMe {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
}

.madeBy {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
}

#topBtn {
    width: 64px;
    height: 64px;
    background-image: url(/images/up-arrow-button.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border-color: black;
    font-size: 40px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    outline: none;
}


/*Social buttons*/

.socialButtons {
    height: 100px;
    width: 100%;
    position: relative;
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
}

ul li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

ul li a .fa {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

ul li:nth-child(1) a:hover .fa {
    color: #3b5998;
}

ul li:nth-child(2) a:hover .fa {
    color: #00aced;
}

ul li:nth-child(3) a:hover .fa {
    color: #dd4b39;
}

ul li:nth-child(4) a:hover .fa {
    color: #007bb6;
}

ul li:nth-child(5) a:hover .fa {
    color: #e4405f;
}


@media screen and (max-width:1024px) {

    #home {
        height: 600px;
    }

    .mainTextBox,
    .mainText {
        height: 400px;
    }

    .navMenu a {
        padding-top: 30px;
        font-size: 20px;
    }

    .myName,
    .myProfession,
    .hardSkills,
    .softSkills,
    .education,
    .languages,
    .myWorks {
        font-size: 30px;
    }

    .sayHello,
    .Skills p,
    .aboutWork,
    .socialBox a {
        font-size: 18px;
    }

    .name {
        font-size: 40px;
    }

    .edText1 {
        font-size: 16px;
    }

    .edText2 {
        font-size: 12px;
    }

    .myWorksContainer {
        margin-top: 50px;
    }
}

@media screen and (max-width:768px) {
    .navMenu a {
        font-size: 14px;
    }

    .name {
        height: 50px;
        font-size: 25px;
    }

    .whoIam {
        flex-direction: column;
    }

    .leftBox,
    .rightBox {
        min-height: 150px;
        width: 100%;
    }

    .socialBox {
        justify-content: center;
    }

    .sayHello {
        margin-top: 10px;
        text-align: center;
    }

    .hardSkills,
    .softSkills,
    .education,
    .languages,
    .myWorks {
        font-size: 25px;
    }

    .skillsListBox,
    .container {
        flex-direction: column;
    }

    .leftSkillsBox,
    .rightSkillsBox,
    .educationBox,
    .languagesBox {
        width: 100%;
    }

    .aboutWork {
        font-size: 14px;
    }

    #topBtn {
        width: 46px;
        height: 46px;
    }
}

@media screen and (max-width:414px) {
    .navMenu {
        display: none;
    }

    .myName,
    .myProfession {
        font-size: 24px;
    }
    .socialImg{
        width: 24px;
        height: 24px;
    }
    .socialBox{
        align-items: center;
    }
    .socialBox a {
        font-size: 12px;
        padding-top: 8px;
    }
    .sayHello{
        font-size: 12px;
    }
    .hardSkills,
    .softSkills,
    .education,
    .languages,
    .myWorks,
    .contactMe {
        font-size: 16px;
    }
    .Skills p, .madeBy{
        font-size: 12px;
    }
    .edText1{
        font-size: 14px;
    }
    .edText2{
        font-size: 12px;
    }
    .aboutWork{
        font-size: 11px;
    }
    .portfolioBlock{
        min-height: 500px;
    }
    .information{
        margin-bottom: 20px;
    }
    .myWorks{
        margin-top: 30px;
    }
    .myWorksContainer{
        margin-top: 0px;
    }
    .languagesBox{
        min-height: 100px;
    }
    ul li a {
        width: 40px;
        height: 40px;
        padding: 0px;
    }
}
@media screen and (max-width:320px) {
    #topBtn{
        width: 34px;
        height: 34px;
    }
    .aboutWork{
        font-size: 8px;
    }
    .socialBox a{
        font-size: 10px;
    }
  }