@import url(reset.css);

#home {
    width: 100%;
    height: 800px;
    background-image: url(/images/img1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    font-family: 'Russo One', sans-serif;
    box-shadow: 0 0 50px black;
}
.navBox{
    display: flex;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    justify-content: center;
    z-index: 50000000;
}
.navMenu{
    
    display: flex;
    width: 50%;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.432);
}
a {
    text-align: center;
    width: 25%;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-top: 20px;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.mainTextBox {
    position: absolute;
    top: 100px;
    height: 500px;
    width: 100%; 
    display: flex;
    justify-content: center;  
}
.mainText{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.432);
    border-radius: 100px;
}
.myName{
    margin-top: 200px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.myProfession{
    top: 300px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 830px;
    font-family: 'Russo One', sans-serif;
    box-shadow: 0 0 30px rgba(71, 71, 71, 0.432);
    background-color: rgba(204, 204, 204, 0.432);
}
.information {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
}
.name{
    margin-top: 20px;
    width: 50%;
    height: 100px;
    text-align: center;
    font-size: 60px;
    text-shadow: 0px 0px 0px 10px black ;
    font-weight: bold;
}
.myPhoto {
    margin-top: 30px;
    width: 30%;
    border: 1px solid black;
    border-radius: 25%;
    box-shadow: 0 0 10px black;
}
.whoIam {
    margin-top: 30px;
    width: 70%;
    min-height: 300px;
    display: flex;
}
.leftBox{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    
}
.sayHello{
    text-align: right;
    font-size: 25px;
}
.rightBox{
    width: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.socialBox{
    width: 100%;
    height: 50px;
    display: flex;
}
.socialImg{
    width: 45px; 
    height: 45px; 
}
.hardSkillsBox{
    margin-top: 50px;
    width: 70%;
    min-height: 300px;
}
.hardSkills {
    text-align: center;
    font-size: 50px;
}
.skillsListBox{
    margin-top: 30px;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}
.leftSkillsBox{
    width: 30%;
    min-height: 300px;
}
.rightSkillsBox{
    width: 30%;
    min-height: 300px;
}
.Skills{
    display: flex;
    width: 100%;
    height: 64px;
}
.softSkillsBox{
    margin-top: 50px;
    width: 70%;
    min-height: 300px;
}
.container{
    margin-top: 50px;
    width: 70%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
}
.educationBox{
    width: 40%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.languages {
    width: 40%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}

.portfolioBlock{
    min-height: 830px;
    font-family: 'Russo One', sans-serif;
}

.myWorks{
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
}

.myWorksContainer{
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box{
    margin-top: 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.box1{
    width: 46%;
    border: 1px solid gray;
    transition: 0.5s;
    border-radius: 5px;
    position: relative;
}
.box1 img {
    max-width: 100%;
    border-radius: 5px;
    z-index: 12;
}
.box1:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 2px 0px 17px 0px rgba(0, 0, 0, 1);
  }
  .mw{
    display: block;
    position: absolute;
    width: 100%;
    z-index: 400000;
  }
  .box2{
      width: 35%;
      display: flex;
      align-items: center;
  }
  .aboutWork{
      font-size: 30px;
  }

  footer{
      margin-top: 100px;
      min-height: 200px;
      background-color: rgba(204, 204, 204, 0.432);
      box-shadow: 0 0 30px rgba(71, 71, 71, 0.432);
  }

 